@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.message-container {
    width: 90vw;
    margin: 3em;
    height: 70vh;
    word-wrap: break-word;
    overflow-y: auto;
}

.send-container {
    position: fixed;
    bottom: 4vh;
    background-color: white;
    width: 90vw;
}

.message-input {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 0.6em;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 0.5em;
}

.send-button {
    width: 100%;
    padding: 0.4em 0em;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    display: block;
}

.send-button:hover {
    opacity: 0.8;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome-message {
    color: #bbbbbb;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    overflow-wrap: break-word;
    border-radius: 10px;
    animation: fadeIn 0.5s;
    text-align: center;
}

.new-message {
    color: black;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    padding: 1em;
    animation: fadeIn 0.5s;
}
