@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90vh;
    width: 80vw;
    position: relative;
    background-color: #e1e1e1;
    border-radius: 5px;
    padding: 0.8em 1.5em 1.5em 1.5em;
}

h1 {
    text-align: center;
    margin-bottom: 0.4em;
    color: #2e89f9;
}

#participants {
    display: block;
    margin: auto;
    width: 20%;
    padding: 0.6em 0em;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #2e89f9;
    transition-property: background-color;
    transition-duration: 200ms;
    color: white;
    outline: none;
}

#participants:hover {
    background-color: #1562c0;
}

.message-container {
    margin: auto;
    height: 60%;
    word-wrap: break-word;
    overflow-y: auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.send-container {
    margin: auto;
}

.message-input {
    border: 1px solid #cccccc;
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 0.6em;
    font-size: 0.9rem;
    margin-bottom: 0.8em;
    transition-property: box-shadow;
    transition-duration: 300ms;
}

.message-input:focus {
    box-shadow: 0 0 4px #008cff;
}

.send-button {
    padding: 0.6em;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    display: block;
    transition-property: background-color;
    transition-duration: 200ms;
    outline: none;
    margin: auto;
    width: 100%;
}

.send-button:hover {
    background-color: #eeeeee;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.welcome-message {
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    overflow-wrap: break-word;
    border: 1px solid #cccccc;
    animation: fadeIn 0.5s;
    text-align: center;
    padding: 1em;
}

.new-message {
    background-color: white;
    color: black;
    font-weight: 500;
    border: 1px solid #cccccc;
    overflow-wrap: break-word;
    padding: 1em;
    animation: fadeIn 0.5s;
}
